body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4d0000;
}

.faculty-list {
    list-style-type: none;
    padding: 0;
}

.faculty-list > li {
    background-color: #ffffff;
    margin: 15px auto;
    padding: 15px;
    width: 60%;
    border-radius: 5px;
}

h2 {
    color: #39a6ff;
}

ul ul {
    margin-left: 20px;
}

ul ul li {
    list-style-type: circle;
}
